
body {
    background-color: white;
}

/*

.mencions {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}
.mencion .content_mencion {
    background-color: var(--white-color);
    margin: 10px;
    box-shadow: 0 0 4px #b3b3b3;
}

figure {
    margin: 0;
}

.content_mencion img {
    width: 382px;
    height: 180px;
    object-fit: cover;
}

.content_mencion h2, p {
    margin: 0;
    padding: 0px 10px 15px 10px;
}

.content_mencion h2 {
    padding: 0px 10px 10px 10px;
}

*/
